@page
@model teknoloji.kategoriler.IndexModel
@{
    ViewData["Title"] = "Kategori Listesi";
}

<div class="container mt-4">
    <h2 class="mb-4">Kategori Listesi</h2>

    <div class="mb-3">
        <a asp-page="Create" class="btn btn-success">
            <i class="bi bi-plus-circle"></i> Yeni Kategori Ekle
        </a>
    </div>

    <table class="table table-bordered table-hover table-striped">
        <thead class="table-light">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Kategori Adı</th>
            </tr>
        </thead>
        <tbody class="text-center align-middle">
            @foreach (var kat in Model.KategoriList)
            {
                <tr>
                    <td>@kat.KategoriID</td>
                    <td>@kat.KategoriAdi</td>
                    <td class="d-flex justify-content-center">
                        <a asp-page="Edit" asp-route-id="@kat.KategoriID" class="btn btn-sm m-2 btn-primary">Düzenle</a>
                        <a href="/teknoloji/kategoriler/Delete?id=@kat.KategoriID" class="btn btn-sm m-2 btn-danger" onclick="return confirm('Bu kategoriyi silmek istediğinize emin misiniz?');">Sil</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
