@page
@model MiniAdonet.Pages.teknoloji.urunler.CreateModel
@{
}

<br />
<h2>Yönetici Ekleme Ekranı</h2>

<form method="post">
    <div class="row mb-3">
        <label class="col-sm-3">Urun Adı</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="urunadi" required />

        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3">Fiyat</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="fiyat" required />
        </div>

    </div>
    <div class="row mb-3">
        <label class="col-sm-3">Stok</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="stok" required />

        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3">Kategori</label>
        <div class="col-sm-6">
            <select class="form-select" name="kategoriid" required>
                <option value="">-- Seçiniz --</option>
                @foreach (var k in Model.KategoriList)
                {
                    <option value="@k.KategoriID">@k.KategoriAdi</option>
                }
            </select>
        </div>
    </div>

    <div class="row mb-3">
        <div class="offset-sm-3 col-sm-3 d-grid">
            <button type="submit" class="btn btn-success">Kaydet</button>
        </div>
        <div class="col-sm-3 d-grid">
            <a href="/teknoloji/urunler" class="btn btn-outline-warning">İptal</a>
        </div>
    </div>
</form>